.mobile-menu
    position: fixed
    background-color: grey-light
    top: 4.8em
    left: -35em
    z-index: 2
    display: block
    height: 100%

    ul li
        display: block
        margin: 0 .5em
        padding: 1em 0 1em 3em
        border-top: 1px solid grey-heavy
        width: auto
        font-size: 0.85em

        .menu-item
            width: 20em
            
            i
                margin: 0 1em 0 0
                font-size: 2.3em
            span.small
                margin-bottom: .5em

    ul.loggedin
        li
            display: inline-block
            border: 0
            padding-left: 0
            vertical-align: top
            .profile-tag
                margin-left: 1em
                    
            .username
                font-family:Fjalla
                font-size: 1.8em
                display: block

    ul.topbar-menu
        background-color: blue
        li,
        li.group
            float: none
            border: 0

            a
                display: block
                i
                    font-size: 1.5em
                    margin: 0 1.2em 0 0
                    vertical-align: middle
    .username
        font-size:2.25em !important
        margin:.6em 0 0 1em
.submenu-mobile
    a
        color blue
    i
        font-size:2em
        float:left
        margin:0em 0.5em 0 0
    span
        font-family: Source Sans Pro Semibold
        font-size:1.2em
        text-transform:uppercase
    .pure-menu-item
        padding:.5em 0em
        overflow:hidden
.menu-notification
    text-align:right
.icon-description-text
    position:absolute
    top: .1em
    right: .6em
    color:#fff
.warning
    color red
@media screen and (max-width:35.5em)
    .mobile-menu
        li
            padding:0.9em 0 0.7em 3em
    .menu-item
        margin:0
    .hidden-menu-sm
        display:none !important