.hero-report
    background-color: yellow
    padding: 2.5em 0

    .ilustration
        text-align: center
        img
            width: 60%
            border-radius: 15em
            box-shadow: .2em .2em 2em 0px rgba(50, 50, 50, 0.5)
    .featured
        h2
            line-height: 1.4em
            font-size: 2.5em
            color: #fff
            span
                color: blue
                margin-top: 1em
                display: block
        .baloon-bottom
            margin-top: 1em

    .theme-menu
        margin-top: 4em

        li
            display: inline-block
            margin: 1px
            a
                padding: .3em .8em
                font-size: 1.5em
                background-color: grey-heavy
                font-family: fjalla,sans-serif
                color: grey-light
                text-decoration: none
            &.active,
            &:hover
                a
                    background-color: blue

.filter-report
    margin: 0 0 2em 0
    .label
        color: grey-heavy
        font-weight: bold
        display: inline-block
        margin: 2em 2em 0 0
        i
            font-size: 1.3em
    .list-categories
        display: inline
        li
            padding: .2em 1.5em
            display: inline-block
            text-align: center
            border: .1em solid grey-heavy
            //border-right: 0
            &.active,
            &:hover
                background-color: grey-heavy
                a
                    color: grey-light
            a
                color: grey-heavy
                text-decoration: none

    .list-order
        margin: 1em 0 0 0
        li
            font-weight: bold
            min-width: 20%
            display: inline-block
            a
                color: grey-heavy
                &:hover
                    color: blue
                    text-decoration: none
            i
                font-size: 1.3em
                margin: 0 0 0 .2em
        li.active
            a
                color: blue
                text-decoration: none
    .search
        margin: 1em 0 0 0
        input
            width: 80%
        .pure-button
            width: 15%
            padding: .2em 0 0
            vertical-align: top
            i
                margin: 0
.statistics-page .content
    background-color: #fff
    margin: 2em auto
    padding: 2em

    p
        color: grey-heavy
    h3
        font-size: 2.5em
        text-align: center
        margin: 0 auto
    h4
        font-size: 1.5em
        margin: 0

    .statistics-blog
        margin: 1em 0 0
        li
            color: grey-heavy
            margin: 1em 0
            i
                font-size: 1.3em
                margin: 0 1em 0 0
        li a
            vertical-align: top
            color: grey-heavy


.page-report-1
    margin:0 0 5em
.winners-block
    font-family:Source Sans Pro
.icone-ajuda
    position:absolute
    margin:0 .5em
.winners-article
    h1
        color:#394556
        font-size:2.65em
    .icone-ajuda-article
        margin:.2em 0 0 1em
        position:absolute
        font-size:.6em
    p
        font-size:1.2em
        color:#394556
        font-family:Source Sans Pro
.allwinners-title
    margin:0 0 3em
    .allwinners-header
        vertical-align:bottom
        color:#A9B0A6
        text-transform: uppercase
        font-weight: bold
        font-size: 1.2em
        font-family:Source Sans Pro
        margin: .5em 0
    a
        text-align: center
        color:#A9B0A6
        display:block
        font-size:.9em
        &:hover
            color:#FF3E30
            text-decoration:none
            .icone-ajuda
                color: #A9B0A6
        &.active
            color:#FF3E30
            .icone-ajuda
                color: #A9B0A6
.allwinners-content
    margin:0 0 5em
.allwinners-position
    color:#394556
    font-size:32px
    font-family:Fjalla !important
    text-align: center
.allwinners-text
    div
        color:#A9B0A6
.allwinners-content-item
    padding:1em 0
    border-bottom:1px solid #A9B0A6
    hr
        border: 0
        height: 1em
.allwinners-data-aux
    text-align: center
    color:#394556
    .allwinners-aux-number
        font-family:Fjalla
        font-size:1.6em
        color:#394556
    .allwinners-aux-text
        font-size:.8em
        color:#A9B0A6
.icon-xxlarge
    font-size:2em
.icon-xxlarger
    font-size:2.5em


@media screen and (max-width: 35.5em)
    .filter-report .list-order,
    .filter-report .list-categories
        li
            box-sizing: border-box;
            width: 49%
            text-align: center
            padding: .5em
