.new-discussion
	background-color azulescuro
	width:100%
	top:inherit
	left:inherit
	input[type=text],
	textarea
		width: 100%
	.profile-tag
		margin: 0 1em
		float: right
	.comment-title
		padding: 2em 0
		.txt-title
			margin:0 0 1em 0
		.txt-opnion
			height:5em
	.actions
		.pure-button
			border-radius:0
			color cinzaclaro
			float:right
			margin: 1em 0 0 1em
			&.cancelar
				background-color: blue
				&:hover
					background-color: blue
			&:hover
				background: green
	.comment-label
		color cinzaclaro
		text-transform:none

.not-loggedin
	background-color: grey-heavy;
	padding: 1em
	color: grey-light
	a
		color: grey-light
		text-decoration: underline
.no-results
	p
		background-color: orange
		padding: 1em
		color: #fff
		a
			color: #fff
			text-decoration: underline
.box-post
	padding:1.5em 1.5em 1.5em 0
	.post-created,
	.post-description
		overflow:hidden
		min-height: 4em
		color: #6D736C
		line-height: 1.6em
		.read-more
			color azulclaro
	.post-created
		margin: 0 0 1em
		font-style: italic
		min-height: initial
		color: grey-medium
	.post-title
		margin: 0

	.actions
		float: right
		.pure-button
			margin: 0 0 0 .5em
	.behavior-coment
		float:right
		color cinzaescuro
		.txt-behavior
			color:#fff
		&:hover
			i
				color:#FB2425
			.txt-behavior
				color cinzaescuro
.comment-item
	margin-bottom:2em
	list-style-type:none
	.box-post
		padding: 1.5em
.box-filter
	background-color azulescuro
	.btn-close
		text-align:right
		margin-right:.5em
		
.profile-info
	.box-profile-tag
		text-align: center

.comments-list
	.post-background
		background-color: transparent
	.box-post
		background-color: #fff
		&.gov
			border-left: .3em solid purple
		&.edu
			border-left: .3em solid pink
		&.br
			border-left: .3em solid yellow
		&.ong
			border-left: .3em solid green
		&.com
			border-left: .3em solid orange


.category-option
	display: inline-block
	input[type=checkbox]
		display: none
	.pure-button
		background-color cinzaclaro
		font-weight: bold
		color azulescuro
		margin: 0 .5em .5em 0
		padding: .2em 1em
		&.selected
			background-color: green
			color: grey-light
.btn-send-icon
	padding: .6em
	
@media screen and (max-width:35.5em) 
	.comments-list
		.box-post
			position: relative
			.post-created
				position: absolute
				top: -1.5em
				left: 8em