@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../font/source-sans-pro-regular.woff) format('woff');
}
@font-face {
    font-family: 'Source Sans Pro Semibold';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../font/source-sans-pro-semibold.woff) format('woff');
}
@font-face {
    font-family: 'Fjalla';
    font-style: normal;
    font-weight: 100;
    src: local('Fjalla One'), local('FjallaOne-Regular'), url(../font/fjalla-one-regular.woff) format('woff');
}

@font-face {
    font-family: 'platbr';
    font-style: normal;
    font-weight: 100;
    src: local('platbr'), local('platbr'), url(../font/platbr.woff) format('woff');
}
