#footer
    background: blue
    padding: 2em 0

    ul.topbar-menu,
    ul.content
        margin: 2em 0 2em 2em
        li
            float: none
            margin: .8em 0 
            a 
                text-transform: uppercase
                i
                    display: none
    ul.social-links
        margin: 2em 0 5em
        li
            margin: .5em 0 0
            overflow: hidden
            a
                 text-decoration: none
                i
                    display: block
                    font-size: 2em
                .svg
                    width: 2em
    .blog
        padding: 0 2em 2em 0
        border-right: .1em solid #fff
        h2
            color: #fff
            padding: .5em 2em .3em
            margin: 0
            background-color: green
    a
        color: #fff


@media screen and (max-width:35.5em) 
    #footer
        ul.topbar-menu,
        ul.content
            margin: 2em 0

        .blog
            padding: 0 0 .5em
            border-right: 0
