.box-link
	position: relative
	min-height: 15em
	margin: 1em 0
	.content
		height: 18.5em
	.title
		color: #fff
		background-color: rgba( 191, 207, 2, .8)
		text-align: left
		padding: 1em
		h3
			font-size: 2em
			margin: 0
			padding: 0
	.more
		background: top right url(../img/subsection-title-bg-light.svg) transparent no-repeat;
		display: block
		text-align: right
		color: #fff
		padding: .2em .7em
		margin: 1em 0 0 
		text-transform: uppercase
	img
		position: absolute
		top: 0
		left: 0
		z-index: -1
