@import "mobile/menu"
.pure-visible-only-sm
    display: none

@media screen and (max-width:35.5em) 
    .container
        max-width: 90%
    #main
        padding-top: 5em
        overflow-x: hidden
    .pure-visible-only-sm
        // esta travando (exibindo) o menu na home: culpa do themes
        display: inline-block
    #header .logo img
        margin: 0 auto

@media screen and (min-width:35em)
    #steps .position
        padding: 0 0 0 6em


/* pure-hidden-sm */
@media screen and (max-width:35.5em)
    .pure-visible-md
        display:none
    .pure-visible-lg
        display:none
    .pure-visible-xl
        display:none
    .pure-hidden-sm
        display:none

/* pure-hidden-md */
@media screen and (min-width:48em) // and (max-width:63.938em)
    .pure-visible-sm
        display:none
    .pure-visible-lg
        display:none
    .pure-visible-xl
        display:none
    .pure-hidden-md
        display:none

/* pure-hidden-lg */
@media screen and (min-width:64em) // and (max-width:79.938em)
    .pure-visible-sm
        display:none
    .pure-visible-md
        display:none
    .pure-visible-xl
        display:none
    .pure-hidden-lg
        display:none

/* pure-hidden-xl */
@media screen and (min-width:80em)
    .pure-visible-sm
        display:none
    .pure-visible-md
        display:none
    .pure-visible-lg
        display:none
    .pure-hidden-xl
        display:none

