.page

    .content
        background-color: #fff
        border: .1em solid grey-heavy
        margin: 2em 0
        padding: 1em 2em

    p
        font-size: 1.1em
    img
        margin: 0 auto

    .hero
        padding: 12em 0 3em
    h1 
        color: #fff
        font-size: 3em
        margin: .5em .5em
        display: inline-block
    .separator
        width: 5em
        display: inline-block
    .title
        text-align: right
        background-color: transparentify(yellow, #fff, .9)
    .subtitle
        font-size: 2.5em
            
    ul li
        margin: 0 0 0 1em
        list-style: circle
    .perguntas
        margin: 0 0 0 2em
        li
            font-family: fjalla;
            font-size: 1.2em
            margin: .5em 0 

    .pergunta
        font-size: 1.5em
        margin: 1em 0 .3em
        font-family: fjalla
    .resposta
        margin: 0
        .pure-img
            float: left
            width: 10em
            margin: 0 1em 0 0

    .parceiros
        h3,
        img
            display: inline-block
            margin: 1em 2em 0 0
            vertical-align: top
        h3
            display: block
            width: 12em
            margin: 1.5em 0 0
            font-size: 2em
        .parceiro
            margin-top: 1em

@media screen and (max-width:35.5em) 
    .page
        .hero
            padding: 10em 0 1.5em
        h1
            font-size: 2.5em

        .resposta .pure-img
            margin: 1em 0
            float: none
            width: auto
