.facebook.more-results-details
    margin: 2em 0        
	
.my-ranking
    padding:0;

    li
        list-style: none
        background-color: grey-light

        &:first-child
            background-color: #bfcf02
        span
            padding: 2% 0
            display: inline-block
            border-bottom: 1px solid grey-medium
            margin: 0 0 .05em 0
        span.name
            background-color: #dce2e0
            width:78%
            padding-left: 2%
        span.percentage
            width: 20%
            text-align: center
            font-weight: bold

.all-ranking 
    padding: 0

    li 
        list-style: none
        border-bottom: 1px solid grey-medium

        span
            padding: 10px 0
            display: inline-block
        span.name
            // width:78%;
            // padding-left: 10px;

        &:first-child .bar-chart .bar-chart-fill
            background-color: #bfcf02

        .bar-chart
            height: 42px
            background-color: #dce2e0
            padding: 0
            margin: .5em 0 ;

            .bar-chart-fill
                height: 42px
                padding: 0
                background-color: #6FACB1

        span.percentage
            background-color: grey-light
            // width: 20%;
            text-align: center
            font-weight: bold

.filtros 
    .region,
    .sector 
        width: 20%
        margin: 0
        display: inline-block
        .button 
            margin: 0
            padding: 0
            height: 40px
            display: block;
            background-color: grey-medium
            border-right: 1px solid grey-heavy
            text-align: center

            &:hover
                background-color: auto
            .svg
                margin: 7px 10px
                width: 24px
                height: 24px

            span
                color: #fff
                vertical-align: top
                display: inline-block
                margin: 11px 5px
                font-weight: 100
                text-transform: uppercase

    .sector
        &.gov
            a.button.active, a.button:hover
                background-color: purple
        &.edu
            a.button.active, a.button:hover
                background-color: pink
        &.br
            a.button.active, a.button:hover 
                background-color: yellow
        &.ong
            a.button.active, a.button:hover
                background-color: green
        &.com
            a.button.active, a.button:hover
                background-color: orange

    .region
        .button
            background-color: grey-medium

            &.active,
            &:hover
                background-color: blue
            .svg
                margin: 4px 2px
                height: 28px
                width: 28px

            span 
                margin: 11px 0

        p
            margin: 20px 0 10px 0

        &.message
            margin: 80px 0 50px
            text-align: center

.box-summary,            
.box-ranking
    border: 0
    margin: 2em 0

    h1
        margin-top: 0

.box-ranking
    padding: 0 0 2em 0 
    .my-ranking
        margin: 0 0 2em 0


@media screen and (max-width:35.5em) 
    .filtros
        .region,
        .sector
            .button span
                display: none
    .box-summary
        h1
            font-size: 1.8em
        .pure-button
            margin-top: 1em
