.box-tips-fase-um
    padding: 1em 0 2.5em

    .tip
        margin: 2.5em 0 0
        text-align: center
        img
            width: 70%
            min-height: 6em
        p
            margin: 0 0.6em
            font-size: 1.2em

.box-vote
    .or
        position: absolute
        top: 4em
        background-color: green
        color: #fff
        right: -2em
        z-index: 1
        padding: .8em
        text-transform: uppercase
        border-radius: 3em

    .option
        background-color: grey-light
        position: relative
        font-weight: bold
        margin: 1em .7em
        padding-bottom: 1em
        cursor: pointer
        

        &:hover
            .pure-button
                background-color: darken(green, 50%)

        &.left-choice
            margin-left: 0
        &.right-choice
            margin-right: 0
        p
            margin: 0
        .label
            padding: .8em 0
            text-align: center
            color: grey-medium
            text-transform: uppercase
        
        .description
            margin: 0 1.5em
            color: #000
            font-size: 1.2em
            min-height: 6em

        .pure-button
            margin: 0 auto
            padding: .3em 0
            display: block
            width: 50%
            text-transform: uppercase


    .secondary-action
        background-color: green
        color: grey-light
        text-transform: uppercase
        display: inline-block
        margin: 1.5em 0 0
        
        span
            display: inline-block
            vertical-align: top
            line-height: 1em
        .image
            margin: .5em
            background-color: green
            border-radius: 4em
            img
                padding: .3em
        .label
            text-shadow: .05em .05em 0.1em #000
            padding: 1em .5em 0 0
            font-size: 1em
            display: none

        &:hover
            .label
                display: inline-block

    .extra-action
        a,
        img,
        span
            display: inline-block
            vertical-align: middle
        a
            display: block
            background-color: grey-light
            font-size: .9em
            &:hover
                span
                    text-decoration: underline

        &.enviar-sugestao
            a
                margin: 0 1em 0 0
    .results-cta
        color: grey-light
        text-shadow: .05em .05em 0.1em #000
        text-transform: uppercase
        a
            color: green
.sugestao-box
    background-color: grey-light
    margin: 0 .9em 0 0
    padding: 0 0 1em 2em

    textarea
        width: 80%
    .pure-button
        margin: 1em .5em 0 0
                
.convidar-box
    background-color: grey-light
    padding: 1em 0
    input,
    textarea
        width: 100%
        margin: 0 0 1em
        
    .separator
        height: 5em

@media screen and (max-width:35.5em) 
    .box-vote
        h1
            padding: .5em 0
        .secondary-action
            .label
                display: inline-block
        .option
            text-align: center
            min-height: 20em;
            font-size: .9em
            .description
                margin: 0 1em 0

            .pure-button
                display: block
                width: 75%
                margin-top: 1em
            &:hover
                .pure-button
                    background-color: green
            &:active,
            &:focus
                .pure-button
                    background-color: darken(green, 50%)
        .sugestao-box
            padding: 0 0 1em 1em
            .pure-button
                margin: .5em .5em 0 0
