#header 
    .topbar
        background-color: blue
        padding: .5em 0

ul.topbar-menu li
    width: auto
    margin: .2em 1em .2em 0
    float: left

    &.group
        float: right

    a
        color: #fff
        text-decoration: none
        text-transform: uppercase

        &:hover
            text-decoration: underline
