.accordion.ac-phase3 
    border-color: #394556
    border-style: solid
    border-width: 0px
    border-radius: 0px
    margin: 0 auto
    height: 1080px

.accordion.ac-phase3 > ul > li,
.ac-phase3 .accordion-title,
.ac-phase3 .accordion-content,
.ac-phase3 .accordion-separator 
    float: none

.accordion.ac-phase3 > ul > li 
    background-color: #ffffff
    margin-right: -0px
    margin-bottom: -522px
    font-family: Source Sans Pro

.ac-phase3 .accordion-select:checked ~ .accordion-separator 
    margin-right: 0px
    margin-bottom: 500px

.ac-phase3 .accordion-title,
.ac-phase3 .accordion-select  
    background-color: #394556
    color: #ffffff
    width: 100%
    height: 115px
    font-size: 21px

.ac-phase3 .accordion-title span 
    margin-bottom: 20px 
    margin-left: 30px
    margin-top:1em
    font-size:2em

.ac-phase3 .accordion-select:hover ~ .accordion-title,
.ac-phase3 .accordion-select:checked ~ .accordion-title 
    background-color: #ff3e30

.ac-phase3 .accordion-title span   
    transform: rotate(0deg)
    -o-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)
    -ms-writing-mode: lr-tb
    margin-bottom: 0px
    line-height: 30px

.ac-phase3 .accordion-content 
    background-color: #ffffff
    color: #394556
    height: 444px
    padding: 39px
    font-family:Source Sans Pro Semibold
    font-size:1.1em

.ac-phase3 .accordion-title,
.ac-phase3 .accordion-select:checked ~ .accordion-content 
    margin-right: 1px
    margin-bottom: 1px

/* Do not change following properties, they aren't 
generated automatically and are common for each slider. */
.accordion 
    overflow: hidden

.accordion > ul 
    margin: 0
    padding: 0
    list-style: none

.accordion > ul > li,
.accordion-title 
    position: relative

.accordion-select 
    cursor: pointer
    position: absolute
    opacity: 0
    top: 0
    left: 0
    margin: 0
    z-index: 1

.accordion-title span 
    display: block
    position: absolute

.accordion-content 
    position: relative
    overflow: auto

.accordion-separator 
    transition: margin 0.3s ease 0.1s
    -o-transition: margin 0.3s ease 0.1s
    -moz-transition: margin 0.3s ease 0.1s
    -webkit-transition: margin 0.3s ease 0.1s
    
.accordion-block-title
    background-color:#bfcf02
    color: #fff
    text-transform: uppercase
    padding:.5em
    margin:0 0 1em
    h2
        font-size:1.8em
        margin:0

.ac-phase3
    .accordion-subtitle
        margin:0 0 0 5em
        padding:1em 0
        text-transform:uppercase
    .full-button
        font-size:1.3em
        font-family: Source Sans Pro Semibold
    .accordion-content
        .read-more
            color:#6FACB1
            display:block
            margin-bottom:1em
            text-decoration: underline
    .accordion-number
        font-family:Fjalla

@media (max-width:35.5em)
    .accordion-subtitle
        font-size:.6em
        padding:1em 0 1em 2em !important