.red-color
	color:#FF3E30
.module-phases
	margin-top:1em
.box-marker
	position:relative
	h1
		margin-bottom:0
.box-marker-dates
	h3
		margin:0
.phase-bar
	position:absolute
	top:1.8em
	left:12em
	width:66%
	border-color:#394556
	border-width: 1px
	box-sizing: border-box
	border-style: solid
	z-index:-1
.box-phases
	h2
		color:#A9B0A6
@media screen and (max-width:35.5em)
	.module-phases
		position:relative
	.box-marker
		position:absolute
		left:0
		top:11.5em
		height:66%
		.center-content
			text-align:left
	.phase-bar
		left:.9em
		width:1px
		height:100%
	.icon-badge-phase
		left:0
		position:absolute
	.box-phases
		margin-bottom:4em
		h3
			margin:0