.hero
    background: center top url(../img/hero-background.jpg) no-repeat #000;
    background-size: cover
    padding: 0 0 5em 0
    position: relative
    &.inner
        padding: 0

.creditos
    position: absolute
    padding: .2em
    font-size: .8em
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, .5)
    color: grey-light
    a
        color: grey-light
        font-size: .5em
    
    i
        font-size: 1.2em
        margin: 0 .2em


.home .featured-box h1
        font-size: 3em
        padding: .5em .7em

.logo-square    
    height: 6em
    margin: 0 3em

.divider
    border-top: 2px solid #fff
    margin: 1em 3.3em

.entenda-box
    position: relative
    z-index: 1
    display: block
    background-color: transparentify(yellow, #fff, .6)
    border-radius: 5em
    width: 5em
    height: 5em
    color: #fff
    margin: -5em auto 0
    text-align: center
    text-transform: uppercase
    padding: .5em

    span
        padding: 1.3em 0 0

    i
        font-size: 2em

    i,span
        display: block

@media screen and (max-width:35.5em) 
    .logo-square
        margin: 0 .7em


    .home
        .featured-box h1
            font-size: 2em
            padding: .2em .1em
