border_bottom_profile = 1px solid #ccc

.my-discussions
.notifications
	margin-bottom:2em
	.warning
		color red
	.default
		color cinzaescuro
	.separator
		h1
			color red
	.title
		color grey
	.profile-info-notification
		border-bottom border_bottom_profile
		margin:0 0 4em 0
		&.nao-lido
			background-color: lighten(#000, 85)
		&:first-child
			margin-top: 2em	
		.profile-name
			margin:4em 0 0 1em
		
		.profile-tag
			display:block
			margin-bottom:-2em
	.feature-text
		color cinzaescuro
		margin-top:2em
	.notification-post
		padding:2em 0 .5em
		color cinzaescuro
		a
			color azulclaro
			text-decoration: underline
.profile-size-200
	width:200px
	height:200px
.profile-size-80
	width:80px
	height:80px
.profile-size-70
	width:70px
	height:70px
.profile-size-50
	width:50px
	height:50px
.circle-area-number
	border-radius:10em
	background-color: red
	color: #fff !important
	padding: 0.3em 0.2em 0.2em 0.6em
	width: inherit
.profile-tag-big
	text-align: center
@media (max-width:35.5em)
	.my-discussions
	.notifications
		.profile-info
			background cinzaclaro
		.profile-info-notification
			border-bottom:0
			margin:0 0 2em 0
	.circle-area-number
		padding: 0.2em 0.3em 0.1em 0.5em
	.notification-post
		padding:1em 0 .5em !important
	.notification-icon
		h2
			margin:0
